[*.{cs,vb}]

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none
[*.{cs,vb}]

# CA1873: Avoid potentially expensive logging
dotnet_diagnostic.CA1873.severity = silent
